button {
  background-color: rgb(20, 157, 220);
  width: fit-content;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
  background-color: #a1a1e0;
  text-align: center;
}

input {
  width: 100px;
  background-color: antiquewhite
}

ul {
  background-color: aquamarine;
}

li {
  background-color: aquamarine;
}
